<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/header.ejs") %>
    <div class="flex column space-around center-items">
        <h3>Game at</h3>
        <h1 class="margin-025"><%= game.course %></h1>
        <h3><%= (game.date.toString()).slice(0, 15) %></h3>
        <h3>Current Score: <span class=" <% if(game.totalScore<0){%> blue-text <%} 
            else if (game.totalScore === 0){%> black-text <%} 
            else {%> red-text<%}%> bold-text"><%= game.totalScore %></span></h3>

        <form class="flex wrap column space-around center-items white border-black shadow-gray radius-5 padding-1 width-90" action="/game/<%= game._id %>?_method=PUT" method="POST">
            <fieldset class="flex column space-around center-items width-90">
                <legend>Pars</legend>
                <div class="flex row space-around wrap center-items width-90">

                    <% const columns = Math.ceil(game.pars.length/9); 
                    const rows = Math.ceil(game.pars.length/columns)%>
                
                    <% for(let i = 0; i < columns; i++){ %>
                        
                        <table class="table-5-15 shrink-me">
                            <tr>
                                <th class="whitesmoke border-black radius-5 padding-1 center-text">Hole</th>
                                <th class="width3 whitesmoke border-black radius-5 padding-1 center-text">Par</th>
                                <%if(course.gamesPlayed > 0 && course.gamesPlayed != undefined){%> <th class="white border-black radius-5 center-text">Your Avg.</th> <%}%>
                                <th class="width3 whitesmoke border-black radius-5 padding-1 center-text">Strokes</th>
                                <!-- <th class="whitesmoke border-black radius-5 padding-1 center-text">Comments</th> -->
                            </tr>
                        <% for(let j = 0; j < rows; j++){ %>
                            <% if((i+1)*(j+1) <= game.pars.length){%>
                            <tr >
                                <td class="whitesmoke border-black radius-5 center-text"><%= j + rows*i + 1 %></td>
                                <td class="whitesmoke border-black radius-5 center-text "><%= game.pars[j + rows*i] %></td>

                                <% if(course.gamesPlayed > 0 && course.gamesPlayed != undefined){%>
                                    <td class="<% let diff = course.averageStrokes[j + rows*i] - course.pars[j + rows*i];
                                     if(course.averageStrokes[j + rows*i] === 0 || course.averageStrokes[j + rows*i] === null){%> {%>whitesmoke<%}
                                else if ((diff) < -0.5){%>blue<%} 
                                else if ((diff) > .5){%>red<%}
                                else if (diff > -0.5 && diff < 0.5){%>black<%}
                                else{%> whitesmoke <% } %> border-black radius-5 center-text"><%=course.averageStrokes[j + rows*i]%></td> <% } %>

                                <td class="<% if(game.strokes[j + rows*i] === 0 || game.strokes[j + rows*i] === null){%> {%>whitesmoke<%}
                                    else if (game.strokes[j + rows*i] < game.pars[j + rows*i]){%>blue<%} 
                    
                                    else if (game.strokes[j + rows*i] > game.pars[j + rows*i]){%>red<%}
                                    else if (game.strokes[j + rows*i] === game.pars[j + rows*i]){%>black<%}
                                    else{%> whitesmoke <% } %> border-black radius-5 center-text"><input class="margin-025 width3 center-text strokes-input" type="number" name="strokes<%=j+rows*i%>" id="" <% if(game.strokes[j+rows*i]===0 || game.strokes[j+rows*i]=== null){%> value="" <%} else{ %>  value=<%= game.strokes[j+rows*i]%><%}%>></td>
                                <!-- <td class="whitesmoke border-black radius-5 center-text"><input class="margin-025 center-text" type="text" name="notes<%=j+rows*i%>" id="" value=<%= game.holeNotes[j+rows*i]%>></td> -->

                            </tr>
                            <% } %>
                        <% } %>
                        
                        
                    <% } %>

                    </table>

                    
                </div>

            </fieldset>
            <br>
            <label for="gameNotes">Comments</label>
            <textarea name="gameNotes" id="gameNotes" cols="30" rows="4"><%= game.gameNotes %></textarea>
            <br>
            <label for="completed">Game Complete</label>
            <input type="checkbox" name="completed" id="completed">

            <br>
            <br>            
            <input class="button-1 margin-025" name="action" type="submit" id="submitButton" value="Save & Continue">
            <br>
            <br>
            <input type="hidden" name="returnHome" id="returnHome" ="false">
            <button class="button-1 margin-025" onclick="submitReturn()">Save & Leave Game</button>
            
            

        
        </form>
        <br>
        <a href="/game/<%= game._id %>"><button class="button-2 margin-1">Discard Changes</button></a>

        
    </div>
    <%- include("../partials/footer.ejs") %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script>
        function submitReturn (){
            document.getElementById("returnHome").value = "true";
            document.getElementById("submitButton").submit();
        }
        const inputs = $(".strokes-input");
        const completed = $("#completed");

        completed.click(function(){
        if(completed.is(':checked')){
            inputs.attr("required", "true");
        }
        else{
            inputs.removeAttr("required");
        }}
        )


    </script>
</body>
</html>