<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/header.ejs") %>
    
    <ul>
        <% for (game of games){%>
        <li>
            <a href="/game/<%= game._id %>"><%= game.course %></a> - <%= game.date %><br>
            Completed: <%= game.complete %>
        </li> <% } %>
    </ul>

    <%- include("../partials/footer.ejs") %>
</body>
</html>