<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/header.ejs") %>
    <div class="container">
        <div class="game-slide">
                <div class="game-title">
                <h1><%= game.course %></h1>
                <h2><%= (game.date.toString()).slice(0,15) %></h2>
            </div>
            <div class="subtitle">
                <h3><%= game.pars.length %> Holes -- Par: <%= game.totalPar %> -- Score: <%= game.totalScore %></h3>
            </div>


            <div class="scorecard">
                <table>
                    <% const columns = Math.ceil(game.pars.length/9); 
                    const rows = Math.ceil(game.pars.length/columns)%>
                    <tr>
                    <% for(let i = 0; i < columns; i++){ %>
                        
                            <th>Hole <%= i+1 %></th><th>Par</th><th>Strokes</th><th>Score</th>
                    <% } %>
                    </tr>
            
                    <% for(let i = 0; i < rows; i++){ %>
                        <tr>
                            <% for(let j = 0; j < columns; j++ ){%>
                                <% if (i+(j*rows) > game.pars.length-1) {%> 
                                    
                                <%} else{%>
                                    <td><%= i+(j*rows)+1 %></td><td><%= game.pars[i+(j*rows)] %></td><td><%= game.strokes[i+(j*rows)] %></td><td><%= game.holeScore[i+(j*rows)] %></td>
                            <% } %>
                            <% } %>
                        </tr>
                        
                    <% } %>
                
                </table>
            </div>

            <div class="actions">
                <% if(!game.complete){%> <a href="/game/<%= game._id %>/edit"><button>Continue Game</button></a> <% } %>

                <form action="/game?_method=DELETE" method="POST" onClick="return confirmSubmit()">
                    <input type="submit" value="Delete Game">
                </form>
            </div>

        </div>

    </div>



        

    

    <%- include("../partials/footer.ejs") %>
</body>

<script LANGUAGE="JavaScript">
    function confirmSubmit()
    {
    var agree=confirm("Are you sure you want to delete this game?");
    if (agree)
     return true ;
    else
     return false ;
    }
    </script>
</html>


