<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/header.ejs") %>
    <h1 class="margin-1 underline"><%= course.title %></h1>

    <form action="/mycourses/<%= course._id %>/holes?_method=PUT" class="width-50 margin-1" method="POST">
        <fieldset>
            <legend>Pars</legend>
            <table class="table-5-15">
            <% for(let i = 0; i < course.holes; i++){%>
                <tr>
            <td><label for="par<%=i%>">Hole <%= i+1 %></label></td>
            <td><input type="number" name="par<%=i%>" id="par"></td>
        </tr>
            <% } %>
        </table>
        <input type="submit" value="Update Holes">
        </fieldset>

    
    </form>
        
    <%- include("../partials/footer.ejs") %>
</body>
</html>