<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/header.ejs") %>

    <div class="flex wrap column center-items space-around whitesmoke padding-2-5">
    <h1 class="margin-1 underline"><%= course.title %></h1>

    <form class="flex wrap row space-around white border-black shadow-gray radius-5 padding-1" action="/mycourses/<%= course._id %>/holes?_method=PUT" class="width-50 margin-1" method="POST">
        <fieldset>
            <legend>Pars</legend>
            <div class="flex row space-around wrap center-items width-90">

                <% const columns = Math.ceil(course.pars.length/9); 
                const rows = Math.ceil(course.pars.length/columns)%>
            
                <% for(let i = 0; i < columns; i++){ %>
                    <div>
                    <table class="table-5-15 inline-block">
                    <th class="whitesmoke border-black radius-5 padding-1 center-text">Hole</th>
                    <th class="width3 whitesmoke border-black radius-5 inline-block padding-1 center-text">Par</th>
                    <% for(let j = 0; j < rows; j++){ %>
                        <% if((i+1)*(j+1) <= course.pars.length){%>
                        <tr >
                            <td class="whitesmoke border-black radius-5 center-text"><%= j + rows*i + 1 %></td>
                            <td class="whitesmoke border-black radius-5 center-text"><input class="margin-025 width3 center-text" type="number" name="par<%=j+rows*i%>" id="" <% if(course.pars[j+rows*i]===0 || course.pars[j+rows*i]=== null){%> value="" <%} else{ %>  value=<%= course.pars[j+rows*i]%><%}%>></td>
                        </tr>
                        <% } %>
                    <% } %>
                    

                    </table class="table-5-15">
                </div>
                <% } %>
                <div class="flex row space-around width-90">
                
                    <input class="button-1" type="submit" value="Update Holes">
                    <a href="/mycourses/<% course._id%>"><Button class="button-1">Cancel</Button></a>
                </div>

                
            </div>
        
        </fieldset>

    
    </form>

</div>
        
    <%- include("../partials/footer.ejs") %>
</body>
</html>