<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/header.ejs") %>
    
    <form action="/mycourses/<%= course.id %>?_method=PUT" method="POST">
        <fieldset>
            <legend>New Course</legend>
            <label for="name">Course Name</label>
            <input type="text" name="title" id="name" value=<%= course.title %>>
            <label for="type">Select Course Type</label>
            <select name="type" id="type">
                <option value="Traditional Golf" <% if(course.type == "Traditional Golf"){%> selected <% } %>>Traditional Golf</option>
                <option value="Putt Putt" <% if(course.type == "Putt Putt"){%> selected <% } %>>Putt Putt</option>
                <option value="Disc Golf" <% if(course.type == "Disc Golf"){%> selected <% } %>>Disc Golf</option>
            </select>
            <label for="holes">Number of Holes</label>
            <input type="number" name="holes" id="holes">
            <label for="location">Location</label>
            <input type="text" name="location" id="location">
            <input type="hidden" name="createdBy">
            <label for="isPublic"></label>
            <input type="checkbox" name="isPublic" id="isPublic" <% if(course.isPublic == true){%> checked="true" <% } %>>
        </fieldset>
        <input type="submit" value="Update">
    </form>

    <%- include("../partials/footer.ejs") %>
</body>
</html>