<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs") %>
</head>
<body>

    
<body>
    <%- include("../partials/header.ejs") %>
    <div class="flex row wrap space-around whitesmoke">
        <% for(course of courses) { %>
        <div class="flex column spacing-around center-items width15 height25 border-black shadow-gray radius-5 margin-1">
            <h3 class="center-text margin-025 underline"><%= course.title %></h3>
            <h4 class="center-text margin-025"><%= course.holes %> Hole</h4>
            <h5 class="margin-025"><%= course.type %> Course</h5>
            <img class="width-90 max-height-60 border-black shadow-gray radius-5 margin-1" src="/images/<% if(course.type === "Disc Golf"){%>disc.png<%}else if(course.type === "Putt Putt"){%>puttputt.png<%}else{%>traditional.png<%}%>" alt="">
            <div class="actions">
                <a href="/mycourses/<%= course._id %>"><button>Details</button></a>
            </div>
        </div>

    
    <% } %>
</div>


    <%- include("../partials/footer.ejs") %> 
</body>
</html>