<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/header.ejs") %>
    <div class="flex wrap column center-items space-around whitesmoke">
        <div class="flex wrap column center-items white margin-1 border-black shadow-gray radius-5 width-75">
            <h1 class="underline"><%= course.title %></h1>
            <h2 class="center-text"><%= course.holes %> Hole <%= course.type %> Course</h2>
                
            <div class="flex column space-around center-items wrap width-75 holes-details border-black shadow-gray radius-5 whitesmoke">
                <img class="width15 max-width-90 margin-1 shadow-gray border-black radius-5" src="/images/puttputt.png" alt="">
                
                <div class="flex row space-around wrap center-items width-90">

                    <% const columns = Math.ceil(course.pars.length/9); 
                    const rows = Math.ceil(course.pars.length/columns)%>
                
                    <% for(let i = 0; i < columns; i++){ %>
                        <div>
                        <table class="table-5-15 inline-block">
                        <th class="white border-black radius-5">Hole</th><th class="width3 white border-black radius-5 inline-block">Par</th>
                        <% for(let j = 0; j < rows; j++){ %>
                            <% if((i+1)*(j+1) <= course.pars.length){%>
                            <tr >
                                <td class="white border-black radius-5"><%= j + rows*i + 1 %></td>
                                <td class="white border-black radius-5"><%= course.pars[j + rows*i] %></td>
                            </tr>
                            <% } %>
                        <% } %>
                        </table>
                    </div>
                    <% } %>

                    
                </div>
            </div>
            <% if(canEdit === true){%>
            <div class="flex row space-between center-items margin-1 width-50">
                <a href="/mycourses/<%= course._id %>/edit"><button class="button-1 margin-025">Edit</button></a>
                <form action="/mycourses/<%= course._id %>?_method=DELETE" method="POST" onClick="return confirmSubmit()">
                    <input class="button-2 margin-025" type="submit" value="Delete">
                </form>
            </div>
            
            <% } %>
        </div>

    </div>

    



    <%- include("../partials/footer.ejs") %>
    <script LANGUAGE="JavaScript">
        function confirmSubmit()
        {
        var agree=confirm("Are you sure you want to delete this game?");
        if (agree)
         return true ;
        else
         return false ;
        }
        </script>
</body>
</html>